# Discord
DISCORD_TOKEN=your_discord_bot_token

# Twitch
TWITCH_ENABLED=false
TWITCH_USERNAME=your_twitch_bot_username
TWITCH_OAUTH_TOKEN=oauth:your_twitch_oauth_token
TWITCH_CHANNEL=your_twitch_channel_name
